.rightsb_page {
  width: 50%;
}

.rightsb_subheader {
  font-family: Helvetica Neue;
  color: rgb(211, 35, 35);
  display: block;
  margin-bottom: 12px;
  word-wrap: break-word !important;
  word-break: break-word !important;
  overflow-wrap: break-word !important;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.3125em;
}
.rightsb_business-list {
  margin-bottom: 12px;
  list-style-type: none;
}

.rightsb_media-block {
  position: relative;
  display: flex;
}

.rightsb_media-avatar {
  border-right-width: 12px;
  border-right-style: solid;
  border-right-color: transparent;
}

.rightsb_image_box {
}

.rightsb_image_biz {
  height: 70px;
  width: 70px;
}

.rightsb_media-story {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
  min-width: 0;
  min-height: 0;
}
.rightsb_media-title {
  font-weight: bold;
  color: #0073bb;
  font-family: Helvetica Neue;
}

.rightsb_bizrating {
  margin-top: 3px;
  margin-right: 0px;
  margin-bottom: 3px;
  margin-left: 0px;
}

.rightsb_star-rating {
  float: left;
  margin-top: 1px;
  margin-right: 6px;
  margin-bottom: 0px;
  margin-left: 0px;
}

.rightsb_review-count {
  font-size: 12px;
  line-height: 1.5em;
}

.rightsb_tips {
  font-size: 15px;
  quotes: none;
  font-style: italic;
  word-wrap: normal|break-word|initial|inherit;
}

.rightsb_other-list-item-arrange {
  margin-bottom: 12px;
  color: rgb(0, 115, 187);
}

.rightsb_list {
  list-style-type: none;
  list-style-position: initial;
  list-style-image: initial;
  list-style: none;
  padding-left: 0;
}

.rightsb_other-list-item {
  margin-bottom: 10px;
  color: rgb(0, 115, 187);
}

.rightsb_other-list-item-arrange {
  margin-left: -6px;
  margin-right: -6px;
  border-collapse: separate;
}

.rightsb_icon {
  width: 10px;
  height: 10px;
}

.rightsb_browse-list {
  margin-bottom: 10px;
  color: rgb(0, 115, 187);
}

.rightsb_dining-list {
  margin-top: 10px;
  margin-bottom: 10px;
  color: rgb(0, 115, 187);
}

.rightsb_bestof-list {
  margin-bottom: 10px;
  color: rgb(0, 115, 187);
}

.rightsb_peoplefound-list {
  margin-bottom: 10px;
  color: rgb(0, 115, 187);
}

.rightsb_nearme-list {
  margin-bottom: 10px;
  color: rgb(0, 115, 187);
}
